<h1>Edit Password</h1>

<%= form_with model:[:auth, Current.user], url: auth_update_password_path do |form| %>
  <% if form.object.errors.any? %>
    <% form.object.errors.full_messages.each do |msg| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">                
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
<% end %>
    <div class="form-group mt-2">
        <%= form.label :password, "Password" %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="form-group mt-2">
        <%= form.label :password_confirmation, "Password Confirmation" %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Re Enter password" %>
    </div>
    <div class="form-group mt-2">
        <%= form.submit "Change Password", class: "btn btn-primary" %>
    </div>
<% end %>
